{{ define "main" }}
<section class="page-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5" data-aos="fade-up">
                <h1 class="page-title">{{ .Title }}</h1>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-12">
                <div class="content-wrapper">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
