<div class="row g-4 mb-5">
    <div class="col-md-3 col-6">
        <div class="problem-card text-center p-4">
            <div class="problem-percentage">82%</div>
            <div class="problem-title">데이터 보안</div>
            <div class="problem-desc">프라이버시 우려</div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="problem-card text-center p-4">
            <div class="problem-percentage">85%</div>
            <div class="problem-title">할루시네이션</div>
            <div class="problem-desc">허구 정보 생성</div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="problem-card text-center p-4">
            <div class="problem-percentage">76%</div>
            <div class="problem-title">정보 검색</div>
            <div class="problem-desc">원하는 정보를 못 찾음</div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="problem-card text-center p-4">
            <div class="problem-percentage">78%</div>
            <div class="problem-title">복잡성</div>
            <div class="problem-desc">운영 비용 증가</div>
        </div>
    </div>
</div>

